%h1 Words
%table.table
  %thead
    %tr
      %th
        \#
      %th
        Value
      %th
        Language
      %th
        Actions
  %tbody
    - @words.each do |word|
      %tr
        %td=word.id
        %td=word.value
        %td=word.language
        %td=link_to('show',word_url(word), class: 'btn btn-primary')

